{% from 'macros.html' import list_checkbox_macro, list_radio_macro, flash_messages, sms_checkbox_macro, append_phone_number_macro_resources, phone_number_macro with context %}
<style>
    body{
    background:#fefefe;
    color:#333333;
    }
    h1{font-weight:bold;font-size: 24px;margin-bottom:5px;margin-top:10px}
    h2{font-weight:bold;font-size: 18px;margin-bottom:5px;margin-top:0}
    p{ margin-bottom:10px;}
    .container{
    text-align:left;
    border:none;
    color:#333333;
    font-size: 14px;
    }
    .alert-success { background-color: #ffffff;border:1px solid #3C7642; color: #3C7642; }
    .btn, .btn:hover, .btn-primary, .btn-primary:hover {
     background-color: #f6efe7; 
     border-radius: 0px; 
     padding: 14px 16px 14px 16px; 
     color: #000000; 
     font-size:16px;
     font-weight:bold; 
     text-align: center; 
     text-decoration: none;
     border-color: #f6efe7; 
     border:0px;
    }
    label
    {
    display:block !important;
    margin-bottom: 10px;
    padding-top:0;
    font-size: 14px;
    font-weight:700;
    }
    input[type="checkbox"] {
    margin-right:5px;
    font-weight:bold;
    }
    @media only screen and (max-width: 600px) {
    h1{font-size: 20px;}
    h2{font-size: 16px;}
    .width-btn{width:100%;}
    .mob-center{text-align:center !important; display:block;padding: 10px 0}
    .nobmargin {margin-bottom: 0;}
    .notbpadd {padding-top:0 !important;padding-bottom:0 !important;}
    .boldfs {font-weight:bold;}
    }
 </style>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<div class='container'>
   <h1>{{ account.display_name }} - Preferences Center</h1>
   <p>
      Please provide the information below and your preferences will be automatically updated in our database.
   </p>
   <br/>
   <form action="" class="form-horizontal" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      {{ flash_messages(success_msg='Congrats. all done', error_msg='Whoops, something went wrong') }}
      <div class="form-group">
         <label class="col-sm-3 control-label">Email Address</label>
         <div class="col-sm-7">
            <input class="form-control" name="email" type="email" value="{{ profile.email}}"/>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-3 control-label">First name</label>
         <div class="col-sm-7">
            <input class="form-control" name="firstname" value="{{ profile.firstname }}"/>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-3 control-label">Last name</label>
         <div class="col-sm-7">
            <input class="form-control" name="lastname" value="{{ profile.lastname }}"/>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-3 control-label">Phone number</label>
         <div class="col-sm-7">
            <input class="form-control" name="phone_number" value="{{ profile.phone_number }}"/>
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-3 col-sm-10">
            <input class="btn btn-primary btn-block-sm" name="action:update" type="submit" value="Save changes"/>
         </div>
      </div>
      {% if show_unsubscribe_button %}
      <div class="form-group">
         <div class="col-sm-offset-3 col-sm-10">
            <a href="{{ url_for('preferences_centre_view', account_hash=account.hash, profile_hash=profile.hash, route='unsubscribe', **request.args)}}" class="btn btn-primary btn-block-sm">Unsubscribe from all marketing emails</a>
         </div>
      </div>
      {% else %}
      <div class="form-group">
         <div class="col-sm-offset-3 col-sm-10">
            <input class="btn btn-primary btn-block-sm" name="action:subscribe" type="submit" value="Subscribe to marketing emails"/>
         </div>
      </div>
      {% endif %}
      {% if profile.channels.sms.allow_marketing and profile.phone_number %}
      <div class="form-group">
         <div class="col-sm-offset-3 col-sm-10">
            <a href="{{ url_for('preferences_centre_view', account_hash=account.hash, profile_hash=profile.hash, route='unsubscribe', **request.args)}}" class="btn btn-primary btn-block-sm">Unsubscribe from all marketing SMS</a>
         </div>
      </div>
      {% elif profile.phone_number %}
      <div class="form-group">
         <div class="col-sm-offset-3 col-sm-10">
            <input class="btn btn-primary btn-block-sm" name="action:sms:subscribe" type="submit" value="Subscribe to marketing SMS"/>
         </div>
      </div>
      {% endif %}
   </form>
</div>